:root {
    font-family: sans-serif;
    --cells-row: 6;
    --side-length: min(80vh, 80vw);
}
/* 
* {
    box-sizing: border-box;
} */

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

article {
    margin: auto;
    display: flex;
    align-items:stretch;
    justify-content: flex-start;
    flex-wrap: wrap;

    position: relative;
    width:  var(--side-length);
    height: var(--side-length);

    padding: 2vw;
    border: 5px black solid;
    border-radius: 5%;
}

/* Time limit */
.time {
    height: 2.5%;
    width: 100%;
    background-color: aqua;
    margin: 2%;
    clip-path: inset(0px round 15px);
    overflow: hidden;
    animation: limit 10s linear 1s 1 normal forwards;
}

@keyframes limit {
    from {
        background-color: green;
        width: 100%;
    }

    99% {
        background-color: red;
        width: 2%;
    }

    to {
        background-color: red;
        margin-right: 100%;
    }
}

/* Tile map */
.tile-map {
    width: 100%;
    height: 90%;
    flex-shrink: 1 1 auto;

    display: grid;
    grid-template-columns: repeat(var(--cells-row), 1fr);
    grid-auto-rows: 1fr;
    gap: 2vw;
}

.tile-map div {
    display: inline-block;
    width: 100%;
    height: 100%;
}

.tile-map div label {
    display: block;
    width: 100%;
    height: 100%;
    background-color: blue;
}

.tile-map div input[type="checkbox"] {
    display: none;
}

.tile-map div input[type="checkbox"]:checked + label {
    background-color:blueviolet;
    pointer-events: none;
}

.tile-map div input[type="checkbox"]:target:checked + label {
    display: block;
    position: absolute;
    background-color: bisque;
    z-index: 2;
    top: 0%;
    left: 0%;
    right: 0%;
    bottom: 0%;
    clip-path: inset(0 round 5%);
}

section {
    height: 100vh;
    border: 1px solid black;
}

@media screen and (min-width: 600px) {
    .tile-map {
        gap: 10px;
    }

    article {
        padding: 10px;
        border-radius: 3%;
    }

    .tile-map div input[type="checkbox"]:target:checked + label {
        clip-path: inset(0 round 2%);
    }
}